* {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

.f {
    display: flex;
}

.col {
    flex-direction: column;
}

.j-c {
    justify-content: center;
}

.j-a {
    justify-content: space-around;
}

.a-c {
    align-items: center;
}

.a-s {
    align-items: flex-start;
}

.a-e {
    align-items: flex-end;
}

.aself-e {
    align-self: flex-end;
}

#c2m-chat {
    position: fixed !important;
    bottom: 10px;
    right: 10px;
    width: 340px;
    height: 560px;

    transition-timing-function: cubic-bezier(.1, .57, .21, .98);
    transition-duration: 0.5s;

    background: #ECF6FC;
}

#c2m-chat.closed {
    height: 20px;
    top: auto !important;
    bottom: 0 !important;
}

#chat-top-panel {
    min-height: 20px;
    height: 20px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), #339933;
}

#chat-write-msg {
    padding: 5px 10px;
    box-sizing: border-box;
    background: inherit;
    border-bottom: 1px #339933 solid;
}

#chat-write-msg>* {
    height: 100%;
}

#chat-write-msg .msg-input-parent {
    position: relative;
    margin: 0 5px;
    flex: 1;
}

#chat-input-msg {
    margin: 0;
    padding: 0;
    height: 25px;
    flex: 1;
    box-sizing: border-box;
    resize: none;
    border: none;
    background-color: inherit;
    line-height: 25px;
}

#chat-input-msg:focus {
    outline: none;
}

#chat-input-lines-count-checker {
    position: absolute;
    width: 100%;
    max-width: 100%;
    max-height: 400px;
    z-index: -1;
    line-height: 25px;
}

#chat-input-lines-count-checker>div>* {
    min-height: 25px;
    max-width: 100%;
    word-wrap: break-word;
}

#chat-msgs-list {
    padding: 10px;
    flex: 1;
    overflow: hidden;
    background: inherit;
}

#chat-msgs-list>div {
    width: inherit;
}

.message {
    margin-bottom: 20px;
    width: 100%;
    max-width: inherit;
    font-size: 14px;
}

.msg-left-col,
.msg-right-col {
    user-select: none;
}

.msg-center-col {
    max-width: 100%;
}

.msg-head,
.msg-right-col {
    color: rgba(0, 0, 0, 0.4);
}

.msg-timestamp {
    flex: 1;
    font-size: 12px;
}

.message>:nth-child(2) {
    margin: 0 5px;
}

.message img {
    width: 25px;
    height: 25px;
    user-select: none;
}

.message .msg-body {
    margin-top: 5px;
    max-width: 100%;
    word-wrap: break-word;
}

.msgs-scrollable {
    max-width: 100%;
    transition-timing-function: cubic-bezier(.1, .57, .21, .98);
    transition-duration: 1s;
}

.chat-svg {
    width: 15px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.chat-arrow-svg {
    background-image: url('files/arrow.svg');
}

#c2m-chat.closed .chat-arrow-svg {
    transform: rotateX(180deg);
}

.chat-plus-svg {
    height: 25px;
    background-image: url('files/plus.svg');
}

.chat-send-msg-svg {
    height: 25px;
    background-image: url('files/send-message.svg');
}

.chat-send-msg-svg:hover {
    background-image: url('files/send-message-hover.svg');
}