:root {
    --chat-primary: #339933;
    --chat-bg: #ECF6FC;
    --chat-gradient: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    --chat-hover: rgba(50, 153, 50, 0.15);
}

#chat {
    width: 360px;
    transition-timing-function: cubic-bezier(.1, .57, .21, .98);
    transition-duration: 0.5s;
    background-color: var(--chat-bg);
    z-index: 100;
}

#chat.closed {
    height: 25px;
    top: auto !important;
    bottom: 0 !important;
    overflow: hidden;
}

#chat-wrapper {
    height: 500px;
    background-color: inherit;
}

#chat.ui-draggable-dragging {
    box-shadow: 2px 3px 9px 3px #0000006b;
}

#chat-top-panel {
    min-height: 25px;
    background: var(--chat-gradient), var(--chat-primary);
}

#chat.closed #chat-top-panel svg {
    transform: rotateX(180deg);
}


/* Ввод сообщения */

.chat-message-input-region {
    box-sizing: border-box;
    background-color: inherit;
    border-bottom: 1px var(--chat-primary) solid;
}

.chat-message-input-region > * {
    height: 100%;
}

#chat-message-textarea {
    margin: 0;
    padding: 0;
    height: 25px;
    flex: 1;
    box-sizing: border-box;
    resize: none;
    border: none;
    background-color: inherit;
    line-height: 25px;
}

#chat-message-textarea:focus {
    outline: none;
}

#chat-textarea-height {
    max-height: 300px;
    z-index: -1;
    overflow: hidden;
}

#chat-send-message:hover svg {
    fill: var(--chat-primary);
}

#chat-message-additional {
    font-size: 14px;
    box-shadow: 0 3px 5px 0 #223C5033;
}

#chat-message-additional * {
    min-width: 100%;
}


/* Список сообщений и сообщение */

.scrollable {
    overflow: hidden auto;
}

.chat-message {
    margin-bottom: 1.25rem;
    padding: .25rem;
}

.message-left-col img {
    width: 25px;
    height: 25px;
    user-select: none;
}

.message-left-col,
.message-right-col {
    min-width: 25px;
    user-select: none;
}

.message-right-col {
    min-width: 30px;
}

.message-head,
.message-right-col {
    color: var(--gray);
}

.chat-message:not(.system-message):hover {
    transition-duration: .5s;
    border-radius: 15px 5px 15px 5px;
    background-color: var(--chat-hover);
}

.my-message {
    width: 100%;
    height: 25px;
}

.message-timestamp {
    font-size: 12px;
}

.chat-messages-date{
    display: flex;
    align-items: center;
}

.chat-messages-date:before, .chat-messages-date:after {
    content: '';
    flex: 0 0.9 100%;
    height: 1px;
    background-color: var(--gray);
}

.message-attached-file {
    padding-left: 10px;
    border-left: 2px #94B7DB solid;
    line-height: 25px;
    cursor: pointer;
}

.message-mention, .message-reply, .message-link {
    color: var(--blue);
    text-decoration: none;
}

.message-link:hover {
    text-decoration: underline;
}

.formatted-message-text {
    width: 100%;
    max-width: 100%;
    line-height: 25px;
    word-wrap: break-word;
}

.formatted-message-text * {
    min-height: 25px;
    max-width: 100%;
    word-break: break-word;
}


/* Нижняя панель */

#chat-bottom-panel {
    border-top: 1px var(--chat-primary) solid;
    background-color: inherit;
}

#chat-show-users-list:hover svg {
    fill: var(--chat-primary);
}

#chat-update-messages {
    color: var(--gray-dark);
}

#chat-update-messages:hover * {
    color: black;
    fill: var(--chat-primary);
}

/* Контекстные меню */

#chat .chat-context-menu {
    border-top: 2px var(--chat-primary) solid;
    background-color: var(--chat-bg);
    list-style: none;
}

#chat-message-contextmenu {
    transform-origin: left;
}

#chat-message-contextmenu > * {
    min-width: 250px;
}

#chat-message-contextmenu > *:hover {
    background-color: var(--chat-hover);
    cursor: default;
}


/* SVG */

.chat-svg {
    width: 15px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
}

.chat-plus-svg {
    background-image: url('../files/plus.svg');
}

.chat-user-default-1 {
    width: 25px;
    background-image: url('../files/users_default_avatars/User avatar-1.svg');
}

.chat-user-default-2 {
    width: 25px;
    background-image: url('../files/users_default_avatars/User avatar-2.svg');
}

/* Будет сохранён в JS */

.chat-block-pattern {
    display: none !important;
}